html
{
	background-image:url("nightsky.jpg");
  	background-position: center;
	width: 100%;
   	height: 100%;
   	margin: 0px;
   	padding: 0px;
    	overflow-x: hidden; 
	}
body {
	font-family: "Marker Felt","Comic Sans MS", fantasy;
	color: #ffffff;
	font-size: 1.3em;
	padding: 0;
	}
p {
	color: #ffffff;
	font-size: 1.3em;
	margin-left: 40px;
	margin-right: 40px;
	text-indent: 60px;
	background-color:rgba(0, 0, 0, 0.5);
	}
h1 {
	width:300px;
	font-size: 1.3em;
	text-align: center;
	margin-bottom: 0em;
	border-bottom: thin solid #ffffff;
	float: right
	}
h2 {
	width:300px;
	font-size: 1.3em;
	text-align: center;
	margin-top: 0em;
	float: right
	}
h3 {
	text-align: left
	}

table {
	border-bottom: thick solid #000000;
	background-color:rgba(0, 0, 0, 0.5);
	margin: 0;
	text-align: center
	}
th {
	text-align:center;
	}
