body {
	font-family: "Marker Felt","Comic Sans MS", fantasy;
	color: #003366;
	padding: 0
	}
p {
	margin-left: 40px;
	margin-right: 40px;
	text-indent: 60px
	}
h1 {
	font-size: 1.3em;
	text-align: right;
	margin-bottom: 0em;
	border-bottom: thick solid #000022
	}
h2 {
	font-size: 1.3em;
	text-align: right;
	margin-top: 0em
	}
h3 {
	text-align: left
	}

table {
	border-bottom: thick solid #000022;
	background-color: #9FB6CD; 
	margin: 0;
	text-align: center
	}

td {
	border: 1px solid #ffffff;
	text-align:center;
	background-color:#9FB6CD; 
	color: black;
	}

th {
	text-align:center;
	color:#ffffff;
	background-color:#003366;
	}
