body {
	font-family: "Marker Felt","Comic Sans MS", fantasy;
	color: #ffffff;
	font-size: 1.3em;
	padding: 0;
	background-image:url("universe.jpg");
	}
p {
	margin-left: 40px;
	margin-right: 40px;
	text-indent: 60px
	}
h1 {
	width:300px;
	font-size: 1.3em;
	text-align: center;
	margin-bottom: 0em;
	border-bottom: thin solid #ffffff
	}
h2 {
	width:300px;
	font-size: 1.3em;
	text-align: center;
	margin-top: 0em
	}
h3 {
	text-align: left
	}

table {
	border-bottom: thick solid #000000;
	background-color:rgba(0, 0, 0, 0.5);
	margin: 0;
	text-align: center
	}
th {
	text-align:center;
	}
