body {
	font-family: "Marker Felt","Comic Sans MS", fantasy;
	color: #003366
	}
p {
	margin-left: 40px;
	margin-right: 40px;
	text-indent: 60px
	}
h1 {
	font-size: 1.3em;
	text-align: right;
	padding: 5px;
	margin-left: 5em;
	margin-right: 5em;
	margin-bottom: 0em;
	border-bottom: thick solid #000022
	}
h2 {
	font-size: 1.3em;
	text-align:right;
	padding: 5px;
	margin-left: 5em;
	margin-right: 5em;
	margin-top: 0em
	}
h3 {
	border-bottom: thick solid #000022;
	text-align: left;
	background-color: #9FB6CD; 
	margin: 0em
	}

table {
	box-shadow: 10px 10px 10px #444444;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	}

td {
	border: 1px solid #ffffff;
	text-align:center;
	background-color:#9FB6CD; 
	color: black;
	}

th {
	text-align:center;
	color:#ffffff;
	background-color:#003366;
	}
